body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, rgb(19, 18, 18), rgb(61, 59, 59));
}

.principal{
    text-align: center;
    width: 300px;
    background: linear-gradient(to bottom right, #2D2D2D, #1D1D1D);
    padding: 1px 17px 32px 17px;
    border-radius: 32px;
    margin: 0 20px;
    box-shadow: 20px 20px 40px rgb(54, 34, 34);
}

.principal img{
    width: 40%
}

.principal p, h1{
    color: white;
}

.principal p{
    font-size: 14px;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: white;
    background: linear-gradient(to top left, #b61b1b, #c0142e);
    padding: 9px;
    border-radius: 80px;
    cursor: pointer;
    
}

span{
    color: #f34848e8;
}
